{% extends 'base.html' %}

{% block title %}
    Home - My Website
{% endblock %}
{% load static %}


{% block extra_css %}
    <style></style>
{% endblock %}


{% block content %}

<section class="login">
    <img class="welcome-right" src="images/welcome.png" alt="" style="width: 10vw; transform: scale(-1); top: auto; bottom: 0;" >
    <img class="welcome-left" src="images/welcome.png" alt="" style="width: 10vw;"> 

        <div class="welcome-title">
            <h2>خطا!</h2>
            <hr class="line">
        </div>
        <div class="login-form">
            
                <h2>درخواست شما با خطا مواجه شد!</h2>

            
                <div class="login-buttons">
                    <a href="{% url 'landing_page_url' %}" class="button-74" style="min-width: fit-content;">بازگشت به صفحه اصلی</a>
                </div>

            
        </div>
</section>
{% endblock %}


{% block extra_js %}
    <script></script>
{% endblock %}


