{% extends 'base.html' %}

{% block title %}
    BoardBazaar | ورود
{% endblock %}
{% load static %}


{% block extra_css %}
    <style></style>
{% endblock %}


{% block content %}
<section class="login">
    <img class="welcome-right" src="{% static 'images/welcome.png' %}" alt="" style="width: 10vw; transform: scale(-1); top: auto; bottom: 0;" >
    <img class="welcome-left" src="{% static 'images/welcome.png' %}" alt="" style="width: 10vw;"> 

    <div class="welcome-title">
        <h2>وارد شوید!</h2>
        <hr class="line">
    </div>
    <form action=""></form>
        {% csrf_token %}
        <div class="login-form">
            
                <div class="input-field"> 
                    <input required class="button-74" type="text" spellcheck="false" placeholder=" " autocomplete="off" name="username" style="max-width: 320px;">
                    <label>نام کاربری یا شماره تلفن</label>
                </div>
                <div class="input-field"> 
                    <input required class="button-74" type="password" placeholder=" " autocomplete="off" name="password" style="max-width: 320px;">
                    <label> رمز عبور</label>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="button-74" style="min-width: fit-content;">ورود</button>
                    <a href="register.html" class="button-74" style="min-width: fit-content;">ثبت نام</a>
                </div>
                <a class="forgot-pass" href="change_pass.html">رمز عبور رو فراموش کردی؟!</a>
            
            
        </div>
    </form>
</section>


<script src="{% static 'js/login.js' %}"></script>
{% endblock %}


{% block extra_js %}
    <script></script>
{% endblock %}
