{% extends 'base.html' %}

{% block title %}
    BoardBazaar | ثبت نام
{% endblock %}
{% load static %}


{% block extra_css %}
    <style></style>
{% endblock %}


{% block content %}

<section class="login">
    <img class="welcome-right" src="{% static 'images/welcome.png' %}" alt="" style="width: 10vw; transform: scale(-1); top: auto; bottom: 0;" >
    <img class="welcome-left" src="{% static 'images/welcome.png' %}" alt="" style="width: 10vw;"> 

    <div class="welcome-title">
        <h2> ثبت نام!</h2>
        <hr class="line">
    </div>
    <form action="" method="POST" id="register-form">
        {% csrf_token %}
        <div class="login-form" >
            
            <div class="input-field"> 
                <input required class="button-74" type="text" spellcheck="false" placeholder=" " autocomplete="off" name="name" id="name" style="max-width: 320px;">
                <label>نام</label>
                <div class="info-icon">!</div>
                <div class="description-dialogue">نام خودتون رو به فارسی وارد کنید</div>
            </div>

            <div class="input-field"> 
                <input required class="button-74" type="text" spellcheck="false" placeholder=" " autocomplete="off" name="username" id="username" style="max-width: 320px;">
                <label>نام کاربری</label>
                <div class="info-icon">!</div>
                <div class="description-dialogue">فقط حروف انگلیسی اعداد و "_" حداقل 4 کاراکتر</div>

            </div>


            <div class="input-field"> 
                <input required class="button-74" type="password" spellcheck="false"  placeholder=" " autocomplete="off" name="password" id="pass1" style="max-width: 320px;">
                <label> رمز عبور</label>
                <div class="info-icon">!</div>
                <div class="description-dialogue">حد اقل 6 حد اکثر 12 فقط حروف انگلیسی و اعداد</div>
            </div>
            <div class="input-field"> 
                <input required class="button-74" type="password" spellcheck="false"  placeholder=" " autocomplete="off" name="confirm-password" id="pass2" style="max-width: 320px;">
                <label>تکرار رمز عبور</label>
                <div class="info-icon">!</div>
                <div class="description-dialogue">حد اقل 6 حد اکثر 12 فقط حروف انگلیسی و اعداد</div>
            </div>

            <div class="input-field"> 
                <input required class="button-74" type="text" placeholder=" " autocomplete="off" name="phone" id="phone" style="max-width: 320px;">
                <label>شماره تلفن</label>
                <div class="info-icon">!</div>
                <div class="description-dialogue">شماره تلفن همراه 11 رقمی </div>

            </div>

            <button class="button-74" id="send-code" style="width: 100%; max-width: 265px;">ارسال کد</button>

            <div class="input-field"> 
                <input required class="button-74" name="confirmationCode" id="confirmationCode" placeholder=" " autocomplete="off" style="max-width: 265px;">
                <label> کد چهار رقمی</label>
                <div class="info-icon">!</div>
                <div class="description-dialogue">گد 4 رقمی ارسال شده به شماره تلفن همراه شما</div>
            </div>

            
            <div class="login-buttons">
                <button type="submit" class="button-74" style="min-width: fit-content;"> تایید اطلاعات</button>
                <a href="login.html" class="button-74" style="min-width: fit-content;">ورود به حساب</a>
            </div>
            

            
        </div>
    </form>
        
   
</section>

<script>
    var csrftoken = '{{ csrf_token }}';
</script>

<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/send-code.js' %}"></script>

{% endblock %}


{% block extra_js %}
    <script></script>
{% endblock %}
